html,body{
    height: 100%;
}
.ridesContainer{
    height: 100%;
    background-color: #292929;
}
.selectedText{
    color: white;
    text-decoration-line: underline;
}
.navigators{
    margin-top: 29px;
    padding-left: 43px;
    font-size: 18px;
}
.navigators>h3:hover{
    text-decoration-line:underline ;
    cursor: pointer;
}